@media all and (min-width: 480px) {
    .Login {
      padding: 60px;
      margin: 0 auto;
      width: 500px;
      background-color: white;
      border-radius: 10px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .buttonGroup {
        text-align: center;
        align-content: center;
    }

    .socialButtons {
        margin: 10px;
    }

    #facebook {
        background-color: #4267B2;
        border-color:  #4267B2;
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: black;
        background-color: #FF8F8F;
        border-color: #FF8F8F;
    }
  }